h1 {
	color: rgb(7, 202, 66);
	text-align: center;
}

#nupp {
	background-color: blue;
	font-size: 30px;
	padding: 20px;
	color: white;
}

body {
	background-color: rgb(73, 113, 126);
	margin: 0;
	padding: 24px;


}



