h1 {
	color: rgb(41, 21, 221);
	text-align: center;
}

#nupp {
	background-color: blue;
	font-size: 30px;
	padding: 20px;
	cursor: pointer;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: rgb(73, 113, 126);
	margin: 0;
	padding: 24px;

	
	
	
}

